<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accountancy</title>

    <meta charset="UTF-8"/>

    <link media="all" rel="stylesheet" th:href="@{/style.css}" type="text/css"/>

</head>
<body>


<h3>INVOICES</h3>
<table>
    <tr>
        <th>Id</th>
        <th>Patient's Name</th>
        <th>Kind</th>
        <th>Symptoms</th>
        <th>Diagnosis</th>
        <th>Provided</th>
        <th>Cost</th>
        <th>Payment Status</th>
        <th>Date</th>
    </tr>
    <tr th:each="invoice : ${invoices}">
        <td th:text="${invoice.id}">Id</td>
        <td th:text="${invoice.patient.name}">Name</td>
        <td th:text="${invoice.kind}">Kind</td>
        <td th:text="${invoice.symptoms}">Symptoms</td>
        <td th:text="${invoice.diagnosis}">Diagnosis</td>
        <td th:text="${invoice.provided}">Provided</td>
        <td th:text="${invoice.cost}">Cost</td>
        <td th:if="${invoice.paid == false}">
            <form method="post" th:action="@{/invoices/paid}">
                <input name="id" th:value="${invoice.id}" type="hidden"/>
                <button>Paid</button>
            </form>
        </td>
        <td th:if="${invoice.paid == true}">Paid!</td>
        <td th:text="${invoice.timestamp}">Time</td>
    </tr>
</table>
<br>
<br>
<form method="post" th:action="@{/logout}">
    <button>Sign out</button>
</form>

</body>
</html>