<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hospital</title>

    <meta charset="UTF-8"/>

    <link media="all" rel="stylesheet" th:href="@{/style.css}" type="text/css"/>

</head>
<body>

<h1>Welcome To Our Hospital</h1>
<h3>Please fill the following form</h3>
<form method="post" th:action="@{/}" th:object="${patient}">
    <label>Name :</label>
    <input th:field="*{name}" type="text"/>
    <br>
    <label>Symptoms: </label>
    <input th:field="*{symptoms}" type="text"/>
    <br>
    <br>
    <button id="button01" type="submit">Submit Information</button>
</form>

<br>
<br>
<br>
<div style="text-align:center"><a th:href="@{/invoices}">See All Invoices</a></div>
</body>
</html>